<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name" required ngModel>
    </div>
    <div class="col-md-3 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name" required ngModel>
    </div>
    <div class="col-md-3 mb-3">
      <label for="dateOfBirth">Date of birth</label>
      <div class="input-group mb-3">
        <input style="width: 80%;" matInput [matDatepicker]="teacherDatePicker" type="text" class="form-control" name="dateOfBirth" id="dateOfBirth" placeholder="Date of birth" required ngModel>
        <div class="input-group-append">`
          <mat-datepicker-toggle matSuffix [for]="teacherDatePicker"></mat-datepicker-toggle>
        </div>
      </div>

      <mat-datepicker #teacherDatePicker></mat-datepicker>
    </div>
    <div class="col-md-3">
    <br>
      <mat-form-field appearance="fill">
        <mat-label>Lessons</mat-label>
        <mat-select multiple name="lessons" ngModel>
          <mat-option *ngFor="let lesson of availableLessons" [value]="lesson.name">{{lesson.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button class="btn btn-primary" type="submit">Create teacher</button>
  </div>
</form>
<br>
<div *ngIf="this.firstNameError" class="alert alert-danger">Please enter: First name</div>
<div *ngIf="this.lastNameError" class="alert alert-danger">Please enter: Last name</div>
<div *ngIf="this.dataError" class="alert alert-danger">Please enter: Date of birth</div>
