<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink='pupils'
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active">Pupils</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='teachers' routerLinkActive="active">Teachers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='lessons' routerLinkActive="active">Lessons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='ratings' routerLinkActive="active">Ratings</a>
  </li>
</ul>
